[submodule "sdk"]
	path = sdk
	url = https://github.com/e-biz/designmyapp-sdk
[submodule "sample"]
	path = sample
	url = https://github.com/e-biz/designmyapp-template-mygallery
[submodule "common-api"]
	path = common-api
	url = https://github.com/e-biz/designmyapp-common-api
